html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #6D8D23;
    flex: 1;
}

.header__section {
    display: flex;
    align-items: center;
}

.header__item {
    padding: 5px 15px;
    font-size: 12px;
}

.header__item + .header__item {
    margin-left: 5px;
}

.header-logo {
    font-size: 20px;
    line-height: 0;
    color: black;
}

.header-logo-text {
    font-size: 20px;
    line-height: 0;
    color: black;
}

.header-button {
    cursor: pointer;
    color: black;
}

.camera {
    display: flex;
    flex-direction: row;
}

.camera__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.camera__item {
    color: white;
}

.camera-feed {
    /*border: 10px solid #6D8D23;*/
}

.camera-controls-button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 12px;
    border-radius: 0.5em;
    background: #6D8D23;
    border: 1px solid black;
    transition: all .3s;
}

.camera-controls-button:hover {
    border: 1px solid #9ecc33;
}

.camera-controls-button:active {
    box-shadow: 4px 4px 12px #9ecc33,
                -4px -4px 12px #9ecc33;
}