<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0; width=device-width">
    <title>Pest Detection Config</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="flex-container">
        <div class="header">
            <!-- Pushed to left side of the navigation bar -->
            <div class="header__section">
                <div class="header__item header-logo">
                    <img src="../static/images/psu-logo-black.png" width="50" height="50" alt="Portland State Logo">
                </div>
                <div class="header__item header-logo-text">Pest Detection System Configuration</div>
            </div>

            <!-- Pushed to right side of the navigation bar -->
            <div class="header__section">
                <div class="header__item header-button">Home</div>
                <div class="header__item header-button">Settings</div>
                <div class="header__item header-button">Camera</div>
            </div>
        </div>
    </div>
</body>
</html>